:host {
  overflow: hidden;
}

#leftTabBar[empty],
#bottomTabBar[empty],
#rightTabBar[empty] {
  display: none;
}

#content {
  overflow: auto;
}

#flier {
  display: none;
  position: absolute;
  z-index: 3;
  border: 2px solid #eee;
  background-color: #fff;
  box-sizing: border-box;
}

#flier.left,
#flier.right {
  top: 0px;
  height: 100%;
}

#flier.bottom {
  width: 100%;
}

#flier.left {
  border-left-color: transparent;
  left: 0px;
}

#flier.right {
  border-right-color: transparent;
  right: 0px;
}

#flier.bottom {
  border-bottom-color: transparent;
  bottom: 0px;
}

.rel {
  position: relative;
}
