:host {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#leftTabBar[empty],
#bottomTabBar[empty],
#rightTabBar[empty] {
  display: none;
}

#content {
  overflow: auto;
}

#flier {
  display: none;
  position: absolute;
  z-index: 3;
  border: 2px solid #eee;
  background-color: #fff;
}

#flier.left,
#flier.right {
  top: 0px;
  bottom: 0px;
}

#flier.bottom {
  width: 100%;
}

#flier.left {
  border-left-color: transparent;
  left: 30px;
}